<H1 style="text-align:center";>COLLECTION D'OBJETS SOUS PYTHON : LES LISTES</H1>

Sciences Numériques et Technologie <br>
Tutoriel réaliser avec JUPITER NOTEBOOK  <br>
Lycée Pierre Lagourgue Le Tampon <br>

## Les tuples sont des tableaux dynamiques en lecture/écriture d'objets hétérogènes

**Création d'une liste** <br>
* Les crochets [ ] indiquent qu'il s'agit d'une liste
* Les items sont séparés par ","

In [44]:
L1 = [3, 5, 8, 98, 0, 26, 52, 8]
print (L1)

[3, 5, 8, 98, 0, 26, 52, 8]

**Ajouter un item à la fin de la liste** <br>
* On utilise pour cela la méthode .append( )

In [45]:
L1.append(43)
print(L1)

[3, 5, 8, 98, 0, 26, 52, 8, 43]

In [2]:
# 0n remet la liste à sa valeur d'origine
L1 = [3, 5, 8, 98, 0, 26, 52, 8]

**Accès à un item d'une liste grace à l'index** <br>
* Le premier item est à l'index 0
* Le dernier item est à l'index len(t1)-1
* L'index est à préciser entre crochets [index]
* L'item d'index n-1 est le nième item de la liste

In [46]:
print(L1[3])

98

**Récupération d'une plage de liste** <br>
* exemple 1 : récupération de l'item d'index 2 inclus à l'item d'index 5 (non inclus) soit les index 2, 3 et 4
* exemple 2 : récupération des 4 premiers items, soit les index 0, 1, 2 et 3
* exemple 3 : récupération des 3 derniers items, soit les index 4, 5 et 6
* exemple 4 : récupération du dernier item de la liste, soit l'index 6

In [47]:
#exempe 1
L11 = L1[2:5]
print(L11)

[8, 98, 0]

In [48]:
#exempe 2
L11 = L1[:4]
print(L11)

[3, 5, 8, 98]

In [49]:
#exempe 3
L11 = L1[-3:]
print(L11)

[52, 8, 43]

In [50]:
#exempe 4
L11 = L1[-1:]
print(L11)

[43]

**Modifier la valeur d'un item avec son index** <br>

In [51]:
print(L1)
L1[3] = 10
print(L1)

[3, 5, 8, 98, 0, 26, 52, 8, 43]
[3, 5, 8, 10, 0, 26, 52, 8, 43]

In [3]:
# 0n remet la liste à sa valeur d'origine
L1 = [3, 5, 8, 98, 0, 26, 52, 8]

**Supprimer un item d'une liste avec son index** <br>
* utilisation de la fonction del

In [52]:
print(L1)
del L1[3]
print(L1)

[3, 5, 8, 10, 0, 26, 52, 8, 43]
[3, 5, 8, 0, 26, 52, 8, 43]

In [3]:
# 0n remet la liste à sa valeur d'origine
L1 = [3, 5, 8, 98, 0, 26, 52, 8]

**Supprimer un item d'une liste avec sa valeur** <br>
* Utilisation de la méthode remove( )
* Cette méthode supprime le première élément de la liste correspondant à la valeur

In [53]:
print(L1)
L1.remove(8)
print(L1)

[3, 5, 8, 0, 26, 52, 8, 43]
[3, 5, 0, 26, 52, 8, 43]

In [5]:
# 0n remet la liste à sa valeur d'origine
L1 = [3, 5, 8, 98, 0, 26, 52, 8]

**Inverser les items d'une liste** <br>
* Utilisation de la méthode reverse( )

In [4]:
L1.reverse()
print(L1)

[8, 52, 26, 0, 98, 8, 5, 3]

In [6]:
# 0n remet la liste à sa valeur d'origine
L1 = [3, 5, 8, 98, 0, 26, 52, 8]

**Taille d'une liste** <br>
* On peut récupérer la taille d'une liste grace à la fonction intégrée len( )

In [8]:
taille = len(L1)
print(taille)

8

**Nombre d'occurences d'une valeur d'item** <br>
* Utilisation de la méthode count

In [10]:
n = L1.count(8)
print(n)

2

Mettre à jour à partir d'ici d'après le site :
http://apprendre-python.com/page-apprendre-listes-list-tableaux-tableaux-liste-array-python-cours-debutant

**Taille d'un tuple appartenant à un tuple** <br>

In [57]:
print(len(t6[1]))

2

<H2 style="text-align:center";>À VOUS DE JOUER</H2>

Pour chaque exercice proposé, une fois que le code fonctionne correctement, faire un copier/coller dans SPYDER et sauvegarder votre fichier sous le nom suivant : **tuple_ex_1.py**

### EXERCICE N°1 : <br>
**Compléter** le code de la cellule ci-dessous pour ... <br>

### EXERCICE N°2 : <br>
**Compléter** le code de la cellule ci-dessous pour ...